<!DOCTYPE html>
<html lang="en">
<head>
  <title>Glazed & Confused</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


  <!-- Date Picker -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>

  <!-- Time Picker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>


  <style>
    .container {
      padding: 80px 120px;
    }

    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      max-height: 500px;
      margin: auto;
    }

    .carousel-caption h3 {
    color: #fff !important;
    }

    @media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
    }

    .error{
      color: red;
      border-color: red;
    }

  </style>
  <!-- {% load staticfiles %} -->
</head>
<body>

<!--
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/home/sean/projects/donuts_env/donuts/minidonutsnyc/static/minidonutsnyc/img/donuts1.png" alt="donuts1">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>The atmosphere in New York is lorem ipsum.</p>
      </div>
    </div>

    <div class="item">
      <img src="/home/sean/projects/donuts_env/donuts/minidonutsnyc/static/minidonutsnyc/img/donuts2.jpg" alt="donuts2">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago - A night we won't forget.</p>
      </div>
    </div>

    <div class="item">
      <img src="/home/sean/projects/donuts_env/donuts/minidonutsnyc/static/minidonutsnyc/img/donuts3.jpg" alt="donuts3">
      <div class="carousel-caption">
        <h3>LA</h3>
        <p>Even though the traffic was a mess, we had the best time.</p>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

-->

<div class="container text-center">
  <h3>Glazed & Confused</h3>
  <p><em>We love donuts!</em></p>
  <p>We have created a mini-donuts website. Lorem ipsum..</p>

<form id="event-rqst" method="post" class="form-horizontal" role="form">
    <div class="form-group">
      <label for="datepicker" class="col-xs-5 control-label sr-only">Date</label>
      <input type="text" placeholder="Date" class="form-control input-lg" id="datepicker" name="thedate" />
    </div>

    <div class="form-group">
      <label for="thetime" class="col-xs-3 control-label sr-only">Time</label>
      <input type="text" placeholder="Time" class="form-control input-lg timepicker" id="thetime"  name="thetime" />
    </div>

    <div class="form-group">
        <div class="col-xs-9 col-xs-offset-3">
            <button type="submit" id="event-rqst-btn" class="btn btn-primary">Send</button>
        </div>
    </div>
</form>

</div>

<script>
  function setupFormValidation()
  {
      //form validation rules
      $("#event-rqst").validate({
          rules: {
            thedate: {
              required: true,
              date: true
            },
            thetime: {
              required: true,
              time: true
            }
          },
          messages: {
            thedate: {
              required: "This field is required!",
              date: "Please enter a date.",
            },
            thetime: {
              required: "This field is required!",
              time: "Please enter a time.",
            }
          },
          //focusInvalid: false,
          //focusCleanup: true,
          //errorClass: "alert alert-danger",
          /*highlight: function(element, errorClass, validClass) {
            $(element).addClass(errorClass).removeClass(validClass);
            $(element.form).find("label[for=" + element.id + "]")
              .addClass(errorClass);
          },
          unhighlight: function(element, errorClass, validClass) {
            $(element).removeClass(errorClass).addClass(validClass);
            $(element.form).find("label[for=" + element.id + "]")
              .removeClass(errorClass);
          },*/
          submitHandler: function(form) {
              form.submit();
          }
      });
  }
    //when the dom has loaded setup form validation rules
  $(document).ready(function() {
      setupFormValidation();
  });


<!-- Date Picker -->
  $(document).ready(function() {

    $( "#datepicker" ).datepicker({
        //onSelect: function(date) {
            //alert(date);
            //setupFormValidation();
            //document.getElementById("datepicker").focus();
            //$("#datepicker").focus();
            //document.getElementById("timepicker").focus();
        //}
    } ).on('change', function() {
        $(this).valid();
    });

    $('input.timepicker').timepicker({
      timeFormat: 'h:mm p',
      interval: 30,
      minTime: '0',
      maxTime: '11:30pm',
      //defaultTime: '9',
      startTime: '12:00am',
      dynamic: true,
      dropdown: true,
      scrollbar: true
    }).on('change', function() {
      $(this).valid()
    });

  } );


//  $(document).ready(function(){
//  });


/*
function validateData(id)
{
  var value = $("#"+id).val();
  if(value == null || value == "")
  {
    var div = $("#"+id).closest("div");
    div.addClass("has-error");
    var inp = $("#"+id).closest("input");
    inp.addClass("alert");
    inp.addClass("alert-danger");
    return false;
  }
  else
  {
    var div = $("#"+id).closest("div");
    div.removeClass("has-error");
    var inp = $("#"+id).closest("input");
    inp.removeClass("alert");
    inp.removeClass("alert-danger");
    return true;
  }

}
$(document).ready(

  function()
  {
    $("#event-rqst-btn").click(function()
      {
        if(!validateData("datepicker"))
        {
          return false;
        }
        if(!validateText("time"))
        {
          return false;
        }
        $("form#event-rqst").submit();
      });
  }

);
*/

</script>

</body>
</html>